<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base teamplate</title>
    <link rel="stylesheet" href="../stylesheets/components/generalStyles.css">
</head>
<body class="basicPage">
    <nav class="primaryNav hover" id="primaryNav">
        <div class="navLogoContainer">
            <img src="../icons/CitrusLogo.png" alt="" class="navLogo">
            <h2 class="navLogoText">CITRUS</h2>
        </div>
        <div class="navLists">
            <ul class="navList">
                <li class="navListItem" onclick="navTo(this, 'baseTemplate.html?animation=1', true)">
                    <img src="../icons/home.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Accueil</h2>
                </li>
                <li class="navListItem active" onclick="navTo(this, 'baseTemplate.html?animation=1', true)">
                    <img src="../icons/teams.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Équipes</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, 'baseTemplate.html?animation=1', true)">
                    <img src="../icons/calendar.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Calendrier</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, 'baseTemplate.html?animation=1', true)">
                    <img src="../icons/trophy.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Tournois</h2>
                </li>
            </ul>
            <ul class="navList">
                <li class="navListItem">
                    <img src="../icons/quit.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Déconnexion</h2>
                </li>
            </ul>    
        </div>
        <div class="selector" id="selector"></div>
    </nav>
    <main>
        <div class="pageContent hiden">
            <h1>Page header</h1>
            <p>Page content Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aliquam? Atque enim velit accusantium, earum a dolore ab, soluta, iste non sequi veniam quisquam officiis eum rem dolores. Ipsam, similique!</p>
        </div>
        
    </main>
    <div id="pageCover"></div>
    <script src="nav.js"></script>
</body>
</html>