{% load static %}
<div class="vertical-navbar">
    <div id="vertical-navbar-header">
        <a href="">
            <div class="vertical-navbar-element">
                <img id="citrus-logo" src="{% static 'icons/CitrusLogo.png' %}" alt="Citrus Logo">
                <label id="citrusName">CITRUS</label>
            </div>
        </a>
    </div>
    
    <div id="vertical-navbar-body">
        
        <a href="">
            <div class="vertical-navbar-element">
                <img id="home-icon" src="{% static 'icons/home.png' %}" alt="Home Icon">
                <label>Tableau de bord</label>
            </div>
        </a>
        
        <a href="">
            <div class="vertical-navbar-element">
                <img id="teams-icon" src="{% static 'icons/teams.png' %}" alt="Teams Icon">
                <label>Équipes</label>
            </div>
        </a>
        
        <a href="">
            <div class="vertical-navbar-element selected">
                <img id="calendar-icon" src="{% static 'icons/calendar.png' %}" alt="Calendar Icon">
                <label>Calendrier</label>
            </div>
        </a>
        
        <a href=""> 
            <div class="vertical-navbar-element">
                <img id="classement-icon" src="{% static 'icons/crown.png' %}" alt="Classement Icon">
                <label>Classement</label>
            </div>
        </a>
        
        <a href="">
            <div class="vertical-navbar-element">
                <img id="tournoi-icon" src="{% static 'icons/trophy.png' %}" alt="Tournoi Icon">
                <label>Tournois</label>
            </div>
        </a>
    </div>
    
    <div id="vertical-navbar-footer">
        <a href="">
            <div class="vertical-navbar-element">
                <img id="quit-icon" src="{% static 'icons/quit.png' %}" alt="Disconnect Icon">
                <label>Déconnexion</label> 
            </div>

        </a>
    </div>
</div>
