{% extends 'baseTemplate.html '%}

{% block content %}
    
    <h1>Calendrier</h1>
    <p>Cette section vous permet de générer un calendrier de saison et de l’appliquer au site de la Ligue des pamplemousses. Vous pouvez également charger un calendrier existant. Sélectionnez l’une des deux options pour commencer.</p>
    
    <button class="btnPrimary btnInline"><span>Générer un calendrier</span></button>
    <button class="btnSecondary btnInline"><span>Charger un calendrier</span></button>
    
{% endblock %}