{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base teamplate</title>
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylesheets/components/generalStyles.css' %}">
</head>
<body class="basicPage">
    <nav class="primaryNav hover" id="primaryNav">
        <div class="navLogoContainer">
            <img src="../static/icons/CitrusLogo.png" alt="" class="navLogo">
            <h2 class="navLogoText">CITRUS</h2>
        </div>
        <div class="navLists">
            <ul class="navList">
                <li class="navListItem active" onclick="navTo(this, '', true)">
                    <img src="../static/icons/home.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Accueil</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, '/Citrus/Equipes', false)">
                    <img src="../static/icons/teams.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Équipes</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, '/Citrus/Calendrier', false)">
                    <img src="../static/icons/calendar.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Calendrier</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, '?animation=1', true)">
                    <img src="../static/icons/trophy.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Tournois</h2>
                </li>
            </ul>
            <ul class="navList">
                <li class="navListItem">
                    <img src="../static/icons/quit.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Déconnexion</h2>
                </li>
            </ul>    
        </div>
        <div class="selector" id="selector"></div>
    </nav>
    <main>

        <div class="pageContent hiden">
            {% block content %}
                <h1>Page header</h1>
                <p>Page content Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aliquam? Atque enim velit accusantium, earum a dolore ab, soluta, iste non sequi veniam quisquam officiis eum rem dolores. Ipsam, similique!</p>
            {% endblock %}
        </div>

    </main>
    <script src="{% static 'javascript/nav.js' %}"></script>
    <script src="https://kit.fontawesome.com/b6c9a53dc1.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tooltip = document.getElementsByClassName("tooltip");

        tippy('.tooltip', {
            allowHTML: true,
            theme: 'citrus',
            hideOnClick: false,
            interactive: true,
            interactiveDebounce: 25,
            maxWidth: 350,
        });
    </script>
    <script>
        let x, i, j, l, ll, selElmnt, a, b, c, d, e, f;
        /* Look for any elements with the class "custom-select": */
        x = document.getElementsByClassName("select");
        l = x.length;
        for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /* For each element, create a new DIV that will act as the selected item: */
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /* For each element, create a new DIV that will contain the option list: */
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        if (x[i].classList.contains("select-search")){
            f = document.createElement("div");
            f.classList.add("select-search-bar");
            d = document.createElement("input");
            d.setAttribute("type", "text");
            d.setAttribute("placeholder", "Rechercher...");
            d.setAttribute("onkeyup", "filterSearch(this)");
            d.classList.add("select-search-bar-input");
            e = document.createElement("span");
            e.innerHTML = "×";
            e.classList.add("select-search-clear");
            e.addEventListener("click", function() {
                this.previousSibling.value="";
                filterSearch(this.previousSibling);
            })
            f.appendChild(d);
            f.appendChild(e);
            b.appendChild(f);
        }
        for (j = 1; j < ll; j++) {
            /* For each option in the original select element,
            create a new DIV that will act as an option item: */
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.classList.add("select-option");
            c.addEventListener("click", function(e) {
                /* When an item is clicked, update the original select box,
                and the selected item: */
                let y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                if (s.options[i].innerHTML == this.innerHTML) {
                    s.selectedIndex = i;
                    h.innerHTML = this.innerHTML;
                    y = this.parentNode.getElementsByClassName("same-as-selected");
                    yl = y.length;
                    for (k = 0; k < yl; k++) {
                    y[k].removeAttribute("class");
                    }
                    this.setAttribute("class", "same-as-selected");
                    break;
                }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function(e) {
            /* When the select box is clicked, close any other select boxes,
            and open/close the current select box: */
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
            if (this.parentNode.classList.contains("select-search")) {
                let input = x[i].parentNode.getElementsByClassName("select-search-bar-input")[0];
                input.focus();
                this.nextElementSibling.scroll(0, 0);
            }
            
        });
        g = document.createElement("DIV");
        g.innerHTML = "Aucun résultats";
        g.classList.add("select-noResults");
        b.appendChild(g);
        }

        function closeAllSelect(elmnt) {
        /* A function that will close all select boxes in the document,
        except the current select box: */
        let x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
            arrNo.push(i)
            } else {
            y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
            x[i].classList.add("select-hide");
            }
        }

        let input = document.getElementsByClassName("select-search-bar-input");
        for (let i = 0; i<input.length;i++) {
            input[i].blur();
        }
        }

        /* If the user clicks anywhere outside the select box,
        then close all select boxes: */
        document.addEventListener("click", function(event) {
        if (event.target.closest(".select-search-bar")) return
        closeAllSelect();
        })

        function filterSearch(searchBar) {
            let noResults = true;
            let filter = searchBar.value.toUpperCase();
            let optionsDiv = searchBar.parentNode.parentNode;
            let options = optionsDiv.getElementsByClassName("select-option");
            for (let i = 0; i < options.length; i++) {
                txtValue = options[i].textContent || options[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    options[i].style.display = "";
                    noResults = false;
                } else {
                    options[i].style.display = "none";
                }
            }

            if (noResults == true) {
                optionsDiv.getElementsByClassName("select-noResults")[0].style.display = "block";
            } else {
                optionsDiv.getElementsByClassName("select-noResults")[0].style.display = "none";
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>
    <script>
        const localeFr = {
            days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            daysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: "Aujourd'hui",
            clear: 'Effacer',
            dateFormat: 'dd/MM/yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        }
        new AirDatepicker('#calendrier', {
            locale: localeFr
        });
    </script>

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
    </script>

    <script>
        let modal = document.getElementById("modal");
        let btn = document.getElementById("modalBtn");
        let xBtn = document.getElementById("modalClose");
        let closeBtn = document.getElementById("modalCloseBtn");

        btn.onclick = function() {
            modal.style.display = "block";
        }

        xBtn.onclick = function() {
            modal.style.display = "none";
        }

        closeBtn.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script>
        let coll = document.getElementsByClassName("collapsible");

        for (let i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
        });
        }
    </script>
</body>
</html>