{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base teamplate</title>
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylesheets/components/generalStyles.css' %}">
</head>
<body class="basicPage">
    <nav class="primaryNav hover" id="primaryNav">
        <div class="navLogoContainer">
            <img src="../static/icons/CitrusLogo.png" alt="" class="navLogo">
            <h2 class="navLogoText">CITRUS</h2>
        </div>
        <div class="hamburger" onclick="toggleNav(this)">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="navLists">
            <ul class="navList">
                <li class="navListItem active" onclick="navTo(this, '/Citrus/', false)">
                    <img src="../static/icons/home.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Accueil</h2>
                </li>
                <li class="navListItem" onclick="navTo(this, '/Citrus/Equipes', false)">
                    <img src="../static/icons/teams.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Équipes</h2>
                </li>
                {% if request.user.admin_flag == True %}
                <li class="navListItem" onclick="navTo(this, '/Citrus/Calendrier', false)">
                    <img src="../static/icons/calendar.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Calendrier</h2>
                </li>

                <li class="navListItem" onclick="navTo(this, '/Citrus/', false)">
                    <img src="../static/icons/trophy.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Tournois</h2>
                </li>
                {% endif %}
                <li class="navListItem" onclick="navTo(this, '/Citrus/MesMatchs', false)">
                    <img src="../static/icons/match.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Matchs</h2>
                </li>

            </ul>

            <ul class="navList">
                <li class="navListItem" onclick="navTo(this, '/Citrus/UserManagement', false)">
                    <img src="../static/icons/user.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">{{ request.user.prenom_coach }}</h2>
                </li>
                <li class="navListItem" onclick="disconnect('/Citrus/Deconnexion/')">
                    <img src="../static/icons/quit.png" alt="" class="navItemIcon">
                    <h2 class="navItemText">Déconnexion</h2>
                </li>
            </ul>    
        </div>
        <div class="selector" id="selector"></div>
    </nav>
    <main>
        <div class="pageContent hidden">
            {% block content %}
            <h1>Page header</h1>
            <p>Page content Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, aliquam? Atque enim velit accusantium, earum a dolore ab, soluta, iste non sequi veniam quisquam officiis eum rem dolores. Ipsam, similique!</p>
            {% endblock %}
        </div>
        
    </main>
    <div id="pageCover"></div>
    <script src="../static/javascript/nav.js"></script>
    <script src="{% static 'javascript/nav.js' %}"></script>

<script>
function disconnect(sendToLink) {
    //DISCONNECT CODE HERE
    let transition = false;
    //Page closing animation
    if (transition === false) {
        transition = true;
        document.getElementById("primaryNav").classList.add("hover");
        const cover = document.getElementById("pageCover");
        cover.style.animation = "1.5s forwards hiddenToFull";
        setTimeout(function() {
            window.location.href = sendToLink;  
        }, 1500);
    }
}

    </script>
<script>
        /* À ajouter une fois si dropdowns présents */
        // Variables globales
        var selectContainers, selectElements, optionsCount, i, j;
        var selectedDiv, optionsDiv, optionDiv, searchDiv, searchInput, clearSpan, noResultsDiv;

        // Rechercher tous les éléments avec la classe "select"
        selectContainers = document.getElementsByClassName("select");
        var containerCount = selectContainers.length;

        // Parcourir chaque conteneur de sélection
        for (i = 0; i < containerCount; i++) {
            // Sélectionner l'élément <select> à l'intérieur du conteneur
            selectElements = selectContainers[i].getElementsByTagName("select")[0];
            optionsCount = selectElements.length;

            // Créer un nouveau DIV pour afficher l'élément sélectionné
            selectedDiv = document.createElement("DIV");
            selectedDiv.setAttribute("class", "select-selected");
            selectedDiv.innerHTML = selectElements.options[selectElements.selectedIndex].innerHTML;
            selectContainers[i].appendChild(selectedDiv);

            // Créer un nouveau DIV pour contenir la liste des options
            optionsDiv = document.createElement("DIV");
            optionsDiv.setAttribute("class", "select-items select-hide");

            // Si le conteneur de sélection a la classe "select-search", ajouter une barre de recherche
            if (selectContainers[i].classList.contains("select-search")) {
                searchDiv = document.createElement("div");
                searchDiv.classList.add("select-search-bar");

                searchInput = document.createElement("input");
                searchInput.setAttribute("type", "text");
                searchInput.setAttribute("placeholder", "Rechercher...");
                searchInput.setAttribute("onkeyup", "filterSearch(this)");
                searchInput.classList.add("select-search-bar-input");

                clearSpan = document.createElement("span");
                clearSpan.innerHTML = "×";
                clearSpan.classList.add("select-search-clear");
                clearSpan.addEventListener("click", function() {
                    this.previousSibling.value = "";
                    filterSearch(this.previousSibling);
                });

                searchDiv.appendChild(searchInput);
                searchDiv.appendChild(clearSpan);
                optionsDiv.appendChild(searchDiv);
            }

            // Parcourir chaque option dans l'élément <select>
            for (j = 1; j < optionsCount; j++) {
                // Créer un nouveau DIV pour chaque option
                optionDiv = document.createElement("DIV");
                optionDiv.innerHTML = selectElements.options[j].innerHTML;
                optionDiv.classList.add("select-option");
                optionDiv.addEventListener("click", function(e) {
                    // Lorsque l'option est cliquée, mettre à jour l'élément <select> original et l'élément sélectionné
                    var selectElement, optionsLength, optionText, selectedDiv, allSelectedDivs;

                    selectElement = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    optionsLength = selectElement.length;
                    selectedDiv = this.parentNode.previousSibling;
                    
                    for (var k = 0; k < optionsLength; k++) {
                        if (selectElement.options[k].innerHTML === this.innerHTML) {
                            selectElement.selectedIndex = k;
                            selectedDiv.innerHTML = this.innerHTML;
                            allSelectedDivs = this.parentNode.getElementsByClassName("same-as-selected");
                            
                            for (var l = 0; l < allSelectedDivs.length; l++) {
                                allSelectedDivs[l].removeAttribute("class");
                            }
                            
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }

                    selectedDiv.click();
                });
                optionsDiv.appendChild(optionDiv);
            }

            // Ajouter le DIV pour les résultats inexistants
            noResultsDiv = document.createElement("DIV");
            noResultsDiv.innerHTML = "Aucun résultats";
            noResultsDiv.classList.add("select-noResults");
            optionsDiv.appendChild(noResultsDiv);

            // Ajouter le DIV des options au conteneur de sélection
            selectContainers[i].appendChild(optionsDiv);

            // Ajouter un événement de clic au DIV sélectionné pour ouvrir/fermer la liste des options
            selectedDiv.addEventListener("click", function(e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");

                // Si le conteneur de sélection a la classe "select-search", focaliser la barre de recherche
                if (this.parentNode.classList.contains("select-search")) {
                    let searchInput = selectContainers[i].parentNode.getElementsByClassName("select-search-bar-input")[0];
                    searchInput.focus();
                    this.nextElementSibling.scroll(0, 0);
                }
            });
        }

        // Fonction pour fermer tous les menus de sélection sauf celui spécifié
        function closeAllSelect(elmnt) {
            var selectItemsDivs, selectedDivs, i, totalItems, totalSelectedDivs, excludedIndexes = [];

            selectItemsDivs = document.getElementsByClassName("select-items");
            selectedDivs = document.getElementsByClassName("select-selected");
            totalItems = selectItemsDivs.length;
            totalSelectedDivs = selectedDivs.length;

            for (i = 0; i < totalSelectedDivs; i++) {
                if (elmnt === selectedDivs[i]) {
                    excludedIndexes.push(i);
                } else {
                    selectedDivs[i].classList.remove("select-arrow-active");
                }
            }

            for (i = 0; i < totalItems; i++) {
                if (!excludedIndexes.includes(i)) {
                    selectItemsDivs[i].classList.add("select-hide");
                }
            }

            // Retirer le focus des barres de recherche
            let searchInputs = document.getElementsByClassName("select-search-bar-input");
            for (let i = 0; i < searchInputs.length; i++) {
                searchInputs[i].blur();
            }
        }

        // Fermer tous les menus de sélection si l'utilisateur clique en dehors
        document.addEventListener("click", function(event) {
            if (event.target.closest(".select-search-bar")) return;
            closeAllSelect();
        });

        // Fonction pour filtrer les options en fonction de la recherche
        function filterSearch(searchBar) {
            let noResults = true;
            let filter = searchBar.value.toUpperCase();
            let optionsDiv = searchBar.parentNode.parentNode;
            let options = optionsDiv.getElementsByClassName("select-option");

            for (let i = 0; i < options.length; i++) {
                let optionText = options[i].textContent || options[i].innerText;
                if (optionText.toUpperCase().indexOf(filter) > -1) {
                    options[i].style.display = "";
                    noResults = false;
                } else {
                    options[i].style.display = "none";
                }
            }

            // Afficher ou masquer le message "Aucun résultats"
            optionsDiv.getElementsByClassName("select-noResults")[0].style.display = noResults ? "block" : "none";
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>
    <script>
        const localeFr = {
            days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            daysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: "Aujourd'hui",
            clear: 'Effacer',
            dateFormat: 'dd/MM/yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        }

        calendars = document.getElementsByClassName("calendar");
        for (i = 0; i<calendars.length; i++) {
            new AirDatepicker("#"+calendars[i].id, {
            locale: localeFr,
            //multipleDates: true,
        });
        }
        
    </script>

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
    </script>

    <script>
        function openModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="block";
        }

        function closeModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="none";
        }
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
        });
        }
    </script>
</body>
</html>