{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylesheets/components/generalStyles.css' %}">
</head>
<body class="hidden">
    <a href="https://liguedespamplemousses.com" class="backButton">
        <h2>🠈 Retour au site de la ligue</h2>
    </a>
    <form method="post">
        {% csrf_token %}
        <div class="loginContainer">
            <div class="login">
                <div>
                    <img src="../static/icons/CitrusLogoText.png" alt="Logo CITRUS"  class="logo">
                </div>
                <section class="section signupFields">
                    <h2 style="margin-bottom: -0.5rem;">S'inscrire</h2>
                
                    <input type="text" id="coachPrenom" name="coachPrenom" placeholder="Votre prénom">
            
                    <input type="text" id="coachNom" name="coachNom" placeholder="Votre nom">
            
                    <input type="text" id="coachPronom" name="coachPronoms" placeholder="Vos pronoms">
            
                    <input type="text" id="coachCourriel" name="coachCourriel" placeholder="Courriel">
                
                    <input type="password" id="coachPassword" name="coachPassword" placeholder="Mot de passe">
                
                    <input type="password" id="coachPassword2" name="coachPassword2" placeholder="Confirmer le mot de passe">
                
                    <div class="select select-search" style="width:400px;">
                        <select name="teamCoach" id="teamCoach">
                            <option value="">Choississez votre équipe</option>
                            {% for equipe in allEquipes %}
                                <option value="{{ equipe.id_equipe }}">{{ equipe.nom_equipe }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <a style="gap: 0; margin-top: -0.5rem;" onclick="sectionReveal('teamAddFields')">Mon équipe n'est pas dans la liste</a>
                    
                    <button class="btnPrimary" onclick="sectionReveal('emailSent')"><span>S'inscrire</span></button>
                </section>
            
                <section class="section teamAddFields hidden">
                    <h2 style="margin-bottom: -0.5rem;">S'inscrire</h2>

                    <input type="text" id="signupEmail" placeholder="Courriel">

                    <a style="gap: 0; margin-top: -0.5rem;" onclick="sectionReveal('loginFields')">Se connecter</a>

                    <button class="btnPrimary" onclick="sectionReveal('emailSent')"><span>S'inscrire</span></button>
                </section>

            </div>

        </div>
    </form>
    <p class="credit">Plateforme réalisée par <a href="">Félix Robillard</a> et <a href="">Raphaël Dumont</a></p>
    
    <style>
        body {
            background: var(--gradient);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:4rem;
        }

        .loginContainer {
            border-radius: 1.5rem;
            background-color: rgba(240, 243, 237, 0.502);
            margin: 1rem;
            padding: clamp(2rem, 10%, 4rem);
            padding-inline:clamp(0.5rem, 10%, 4rem);
            transition: opacity 0.5s ease 0.25s;
        }

        .loginContainer * {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            transition: opacity 0.5s ease 0.25s;
        }

        .login {
            max-width: 80vw;
        }

        .btnPrimary * {
            margin:auto;
        }

        .btnPrimary:hover {
            background: var(--white);
        }

        .logo {
            padding: 1rem;
        }

        .backButton {
            position: absolute;
            left: 2rem;
            top: 0.5rem;
            transition: opacity 0.25s ease;
        }

        .backButton h2 {
            color: var(--white);
            font-weight: 600;
        }

        .credit {
            position: absolute;
            bottom: 1rem;
            color: var(--white);
            text-align: center;
            padding-inline: 2rem;
            transition: opacity 0.25s ease;
        }

        .credit a {
            color: var(--white);
            font-weight: 600;
        }

        body.hidden *{
            opacity: 0;
        }

        section.hidden {
            opacity: 0;
            display: none;
        }
    </style>
    
    <script src="{% static 'javascript/nav.js' %}"></script>
    
    <script>
        setTimeout(function() {
            document.body.classList.remove("hidden");     
        }, 10);

        

        function getBaseURL() {
            let currentURL = window.location.href;
            let lastSlashIndex = currentURL.lastIndexOf('/');
            let baseURL = currentURL.substring(0, lastSlashIndex+1);
        
            return baseURL;
        }

        transtion = false;
        function navTo(link, relative){
            if(transtion == false){
                transtion = true;
                document.body.classList.add("hidden");
                setTimeout(function() {
                if (relative == true) {
                    let baseUrl = getBaseURL(window.location.href);
                    window.location.href = baseUrl + link; 
                } else {
                    window.location.href = link;     
                }
                
            }, 750);
            }
            
        }

        function sectionReveal(section) {
            const sections = document.getElementsByClassName("section");
            for (i=0;i<sections.length;i++) {
                sections[i].classList.add("hidden");
            }
            document.getElementsByClassName(section)[0].classList.remove("hidden");
        }
    </script>
    
    <script>
        /* À ajouter une fois si dropdowns présents */
        // Variables globales
        var selectContainers, selectElements, optionsCount, i, j;
        var selectedDiv, optionsDiv, optionDiv, searchDiv, searchInput, clearSpan, noResultsDiv;

        // Rechercher tous les éléments avec la classe "select"
        selectContainers = document.getElementsByClassName("select");
        var containerCount = selectContainers.length;

        // Parcourir chaque conteneur de sélection
        for (i = 0; i < containerCount; i++) {
            // Sélectionner l'élément <select> à l'intérieur du conteneur
            selectElements = selectContainers[i].getElementsByTagName("select")[0];
            optionsCount = selectElements.length;

            // Créer un nouveau DIV pour afficher l'élément sélectionné
            selectedDiv = document.createElement("DIV");
            selectedDiv.setAttribute("class", "select-selected");
            selectedDiv.innerHTML = selectElements.options[selectElements.selectedIndex].innerHTML;
            selectContainers[i].appendChild(selectedDiv);

            // Créer un nouveau DIV pour contenir la liste des options
            optionsDiv = document.createElement("DIV");
            optionsDiv.setAttribute("class", "select-items select-hide");

            // Si le conteneur de sélection a la classe "select-search", ajouter une barre de recherche
            if (selectContainers[i].classList.contains("select-search")) {
                searchDiv = document.createElement("div");
                searchDiv.classList.add("select-search-bar");

                searchInput = document.createElement("input");
                searchInput.setAttribute("type", "text");
                searchInput.setAttribute("placeholder", "Rechercher...");
                searchInput.setAttribute("onkeyup", "filterSearch(this)");
                searchInput.classList.add("select-search-bar-input");

                clearSpan = document.createElement("span");
                clearSpan.innerHTML = "×";
                clearSpan.classList.add("select-search-clear");
                clearSpan.addEventListener("click", function() {
                    this.previousSibling.value = "";
                    filterSearch(this.previousSibling);
                });

                searchDiv.appendChild(searchInput);
                searchDiv.appendChild(clearSpan);
                optionsDiv.appendChild(searchDiv);
            }

            // Parcourir chaque option dans l'élément <select>
            for (j = 1; j < optionsCount; j++) {
                // Créer un nouveau DIV pour chaque option
                optionDiv = document.createElement("DIV");
                optionDiv.innerHTML = selectElements.options[j].innerHTML;
                optionDiv.classList.add("select-option");
                optionDiv.addEventListener("click", function(e) {
                    // Lorsque l'option est cliquée, mettre à jour l'élément <select> original et l'élément sélectionné
                    var selectElement, optionsLength, optionText, selectedDiv, allSelectedDivs;

                    selectElement = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    optionsLength = selectElement.length;
                    selectedDiv = this.parentNode.previousSibling;
                    
                    for (var k = 0; k < optionsLength; k++) {
                        if (selectElement.options[k].innerHTML === this.innerHTML) {
                            selectElement.selectedIndex = k;
                            selectedDiv.innerHTML = this.innerHTML;
                            allSelectedDivs = this.parentNode.getElementsByClassName("same-as-selected");
                            
                            for (var l = 0; l < allSelectedDivs.length; l++) {
                                allSelectedDivs[l].removeAttribute("class");
                            }
                            
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }

                    selectedDiv.click();
                });
                optionsDiv.appendChild(optionDiv);
            }

            // Ajouter le DIV pour les résultats inexistants
            noResultsDiv = document.createElement("DIV");
            noResultsDiv.innerHTML = "Aucun résultats";
            noResultsDiv.classList.add("select-noResults");
            optionsDiv.appendChild(noResultsDiv);

            // Ajouter le DIV des options au conteneur de sélection
            selectContainers[i].appendChild(optionsDiv);

            // Ajouter un événement de clic au DIV sélectionné pour ouvrir/fermer la liste des options
            selectedDiv.addEventListener("click", function(e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");

                // Si le conteneur de sélection a la classe "select-search", focaliser la barre de recherche
                if (this.parentNode.classList.contains("select-search")) {
                    let searchInput = selectContainers[i].parentNode.getElementsByClassName("select-search-bar-input")[0];
                    searchInput.focus();
                    this.nextElementSibling.scroll(0, 0);
                }
            });
        }

        // Fonction pour fermer tous les menus de sélection sauf celui spécifié
        function closeAllSelect(elmnt) {
            var selectItemsDivs, selectedDivs, i, totalItems, totalSelectedDivs, excludedIndexes = [];

            selectItemsDivs = document.getElementsByClassName("select-items");
            selectedDivs = document.getElementsByClassName("select-selected");
            totalItems = selectItemsDivs.length;
            totalSelectedDivs = selectedDivs.length;

            for (i = 0; i < totalSelectedDivs; i++) {
                if (elmnt === selectedDivs[i]) {
                    excludedIndexes.push(i);
                } else {
                    selectedDivs[i].classList.remove("select-arrow-active");
                }
            }

            for (i = 0; i < totalItems; i++) {
                if (!excludedIndexes.includes(i)) {
                    selectItemsDivs[i].classList.add("select-hide");
                }
            }

            // Retirer le focus des barres de recherche
            let searchInputs = document.getElementsByClassName("select-search-bar-input");
            for (let i = 0; i < searchInputs.length; i++) {
                searchInputs[i].blur();
            }
        }

        // Fermer tous les menus de sélection si l'utilisateur clique en dehors
        document.addEventListener("click", function(event) {
            if (event.target.closest(".select-search-bar")) return;
            closeAllSelect();
        });

        // Fonction pour filtrer les options en fonction de la recherche
        function filterSearch(searchBar) {
            let noResults = true;
            let filter = searchBar.value.toUpperCase();
            let optionsDiv = searchBar.parentNode.parentNode;
            let options = optionsDiv.getElementsByClassName("select-option");

            for (let i = 0; i < options.length; i++) {
                let optionText = options[i].textContent || options[i].innerText;
                if (optionText.toUpperCase().indexOf(filter) > -1) {
                    options[i].style.display = "";
                    noResults = false;
                } else {
                    options[i].style.display = "none";
                }
            }

            // Afficher ou masquer le message "Aucun résultats"
            optionsDiv.getElementsByClassName("select-noResults")[0].style.display = noResults ? "block" : "none";
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>
    
    <script>
        const localeFr = {
            days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            daysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: "Aujourd'hui",
            clear: 'Effacer',
            dateFormat: 'dd/MM/yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        }

        calendars = document.getElementsByClassName("calendar");
        for (i = 0; i<calendars.length; i++) {
            new AirDatepicker("#"+calendars[i].id, {
            locale: localeFr,
            //multipleDates: true,
        });
        }
        
    </script>

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
    </script>

    <script>
        function openModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="block";
        }

        function closeModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="none";
        }
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
        });
        }
    </script>
</body>