{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/stylesheets/components/generalStyles.css">
    <link rel="stylesheet" href="{% static 'stylesheets/components/generalStyles.css' %}">

</head>
<body>
    <h1>Title</h1>

    <h2>Secondary Title</h2>

    <p>Text body</p>

    <p>Clickable <a href="">link</a> in text</p>

    <!-- Tooltip Code -->
    <p>Tooltip text<i class="tooltip fa-solid fa-circle-info" data-tippy-content="Tooltip content"></i></p>
    <script src="https://kit.fontawesome.com/b6c9a53dc1.js" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
        tippy('.tooltip', {
            allowHTML: true,
            theme: 'citrus',
            hideOnClick: false,
            interactive: true,
            interactiveDebounce: 25,
            maxWidth: 350,
        });
    </script>
    <!-- End of Tooltip Code -->


    <button class="btnPrimary"><span>Primary</span></button>

    <button class="btnSecondary"><span>Secondary</span></button>

    <button class="btnPrimary btnInline"><span>Primary inline</span></button>
    <button class="btnSecondary btnInline"><span>Secondary inline</span></button>

    <button class="btnPrimary btnStretch"><span>Primary stretch</span></button>

    <button class="btnSecondary btnStretch"><span>Secondary stretch</span></button>

    <label for="text" class="label onTop">Label for field</label>
    <input type="text" id="text" value="Text input">

    <label for="text" class="label">Label for field</label>
    <!-- Dropdown Code-->
    <div class="select" style="width:200px;">
        <select name="" id="">
            <option value="">Dropdown menu</option>
            <option value="">Option active</option>
            <option value="">Option hover</option>
            <option value="">Option</option>
            <option value="">Option</option>
            <option value="">Option</option>
            <option value="">Option</option>
            <option value="">Option</option>
            <option value="">Option</option>
        </select>
    </div>
    <!-- End of Dropdown Code-->

    <deroulant-recherche style="width:300px;">
      <select onchange="alert('Valeur choisie : ' + this.value)">
        <option value="">Choisir une option...</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
      </select>
    </deroulant-recherche>


    <div class="select select-search" style="width:400px;">
        <select name="" id="">
            <option value="1">Dropdown menu with search</option>
            <option value="2">Option active</option>
            <option value="3">Option hover</option>
            <option value="4">Option similar</option>
            <option value="5">Similar option</option>
            <option value="6">Option 5</option>
            <option value="7">Option 6</option>
            <option value="8">Option 7</option>
            <option value="9">Option 8</option>
        </select>
    </div>

    <label class="checkboxContainer">Checkbox checked
        <input type="checkbox" checked>
        <span class="checkmark"></span>
    </label>

    <label class="checkboxContainer">Checkbox
        <input type="checkbox" >
        <span class="checkmark"></span>
    </label>

    <label class="radioContainer">Radio checked
        <input type="radio" name="radio" checked>
        <span class="checkmark"></span>
    </label>

    <label class="radioContainer">Radio
        <input type="radio" name="radio">
        <span class="checkmark"></span>
    </label>

    <input type="text" id="exampleCalendar" class="calendar" autocomplete="off">

    <table>
        <tr class="tableHeaderRow">
            <th>Header</th>
            <th>Header</th>
        </tr>
        <tr class="pamps">
            <td>Text</td>
            <td>Text</td>
        </tr>
        <tr class="tangs">
            <td>Text</td>
            <td>Text</td>
        </tr>
        <tr class="clems">
            <td>Text</td>
            <td>Text</td>
        </tr>
    </table>

    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Tab1')">Tab 1</button>
        <button class="tablinks" onclick="openTab(event, 'Tab2')">Tab 2</button>
        <button class="tablinks" onclick="openTab(event, 'Tab3')">Tab 3</button>
    </div>

    <div id="Tab1" class="tabcontent">
        <h2>Tab1 Content</h2>
    </div>
    <div id="Tab2" class="tabcontent">
        <h3>Tab2 Content</h3>
    </div>
    <div id="Tab3" class="tabcontent">
        <h3>Tab3 Content</h3>
    </div>

    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="collapsibleContent">
        <p>Collapsible content. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, repellat illum consequuntur error debitis sint asperiores pariatur odit corrupti doloribus quis recusandae quidem culpa quaerat magni possimus temporibus eligendi provident?</p>
    </div>

    <button id="modalBtn" onclick="openModal('exampleModal')">Open Modal</button>

    <div id="modal" class="modal" data-modal="exampleModal">
        <div class="modalContent">
            <div class="modalHeader">
                <h1>Modal header</h1>
                <span class="close" id="modalClose" onclick="closeModal('exampleModal')">&times;</span>
            </div>
            <div class="modalBody">
                <p>Modal body. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, laborum dolore! Ea expedita nam dolores voluptas, nesciunt, esse aut unde necessitatibus temporibus quisquam odit numquam obcaecati tempore deleniti vitae. Numquam.</p>
            </div>
            <div class="modalFooter">
                <button class="btnPrimary btnInline"><span>Autre action</span></button>
                <button class="btnSecondary btnInline" onclick="closeModal('exampleModal')"><span>Close</span></button>
            </div>
        </div>
    </div>

    <script>
        /* À ajouter une fois si dropdowns présents */
        // Variables globales
        var selectContainers, selectElements, optionsCount, i, j;
        var selectedDiv, optionsDiv, optionDiv, searchDiv, searchInput, clearSpan, noResultsDiv;

        // Rechercher tous les éléments avec la classe "select"
        selectContainers = document.getElementsByClassName("select");
        var containerCount = selectContainers.length;

        // Parcourir chaque conteneur de sélection
        for (i = 0; i < containerCount; i++) {
            // Sélectionner l'élément <select> à l'intérieur du conteneur
            selectElements = selectContainers[i].getElementsByTagName("select")[0];
            optionsCount = selectElements.length;

            // Créer un nouveau DIV pour afficher l'élément sélectionné
            selectedDiv = document.createElement("DIV");
            selectedDiv.setAttribute("class", "select-selected");
            selectedDiv.innerHTML = selectElements.options[selectElements.selectedIndex].innerHTML;
            selectContainers[i].appendChild(selectedDiv);

            // Créer un nouveau DIV pour contenir la liste des options
            optionsDiv = document.createElement("DIV");
            optionsDiv.setAttribute("class", "select-items select-hide");

            // Si le conteneur de sélection a la classe "select-search", ajouter une barre de recherche
            if (selectContainers[i].classList.contains("select-search")) {
                searchDiv = document.createElement("div");
                searchDiv.classList.add("select-search-bar");

                searchInput = document.createElement("input");
                searchInput.setAttribute("type", "text");
                searchInput.setAttribute("placeholder", "Rechercher...");
                searchInput.setAttribute("onkeyup", "filterSearch(this)");
                searchInput.classList.add("select-search-bar-input");

                clearSpan = document.createElement("span");
                clearSpan.innerHTML = "×";
                clearSpan.classList.add("select-search-clear");
                clearSpan.addEventListener("click", function() {
                    this.previousSibling.value = "";
                    filterSearch(this.previousSibling);
                });

                searchDiv.appendChild(searchInput);
                searchDiv.appendChild(clearSpan);
                optionsDiv.appendChild(searchDiv);
            }

            // Parcourir chaque option dans l'élément <select>
            for (j = 1; j < optionsCount; j++) {
                // Créer un nouveau DIV pour chaque option
                optionDiv = document.createElement("option");
                optionDiv.value = selectElements.options[j].value;
                optionDiv.innerHTML = selectElements.options[j].innerHTML;
                optionDiv.classList.add("select-option");
                optionDiv.addEventListener("click", function(e) {
                    // Lorsque l'option est cliquée, mettre à jour l'élément <select> original et l'élément sélectionné
                    var selectElement, optionsLength, optionText, selectedDiv, allSelectedDivs;
                    selectElement = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    optionsLength = selectElement.length;
                    selectedDiv = this.parentNode.previousSibling;
                    
                    for (var k = 0; k < optionsLength; k++) {
                        if (selectElement.options[k].innerHTML === this.innerHTML) {
                            selectElement.selectedIndex = k;
                            selectedDiv.innerHTML = this.innerHTML;
                            allSelectedDivs = this.parentNode.getElementsByClassName("same-as-selected");
                            
                            for (var l = 0; l < allSelectedDivs.length; l++) {
                                allSelectedDivs[l].removeAttribute("class");
                            }
                            
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }

                    selectedDiv.click();
                });
                optionsDiv.appendChild(optionDiv);
            }

            // Ajouter le DIV pour les résultats inexistants
            noResultsDiv = document.createElement("DIV");
            noResultsDiv.innerHTML = "Aucun résultats";
            noResultsDiv.classList.add("select-noResults");
            optionsDiv.appendChild(noResultsDiv);

            // Ajouter le DIV des options au conteneur de sélection
            selectContainers[i].appendChild(optionsDiv);

            // Ajouter un événement de clic au DIV sélectionné pour ouvrir/fermer la liste des options
            selectedDiv.addEventListener("click", function(e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");

                // Si le conteneur de sélection a la classe "select-search", focaliser la barre de recherche
                if (this.parentNode.classList.contains("select-search")) {
                    let searchInput = selectContainers[i].parentNode.getElementsByClassName("select-search-bar-input")[0];
                    searchInput.focus();
                    this.nextElementSibling.scroll(0, 0);
                }
            });
        }

        // Fonction pour fermer tous les menus de sélection sauf celui spécifié
        function closeAllSelect(elmnt) {
            var selectItemsDivs, selectedDivs, i, totalItems, totalSelectedDivs, excludedIndexes = [];

            selectItemsDivs = document.getElementsByClassName("select-items");
            selectedDivs = document.getElementsByClassName("select-selected");
            totalItems = selectItemsDivs.length;
            totalSelectedDivs = selectedDivs.length;

            for (i = 0; i < totalSelectedDivs; i++) {
                if (elmnt === selectedDivs[i]) {
                    excludedIndexes.push(i);
                } else {
                    selectedDivs[i].classList.remove("select-arrow-active");
                }
            }

            for (i = 0; i < totalItems; i++) {
                if (!excludedIndexes.includes(i)) {
                    selectItemsDivs[i].classList.add("select-hide");
                }
            }

            // Retirer le focus des barres de recherche
            let searchInputs = document.getElementsByClassName("select-search-bar-input");
            for (let i = 0; i < searchInputs.length; i++) {
                searchInputs[i].blur();
            }
        }

        // Fermer tous les menus de sélection si l'utilisateur clique en dehors
        document.addEventListener("click", function(event) {
            if (event.target.closest(".select-search-bar")) return;
            closeAllSelect();
        });

        // Fonction pour filtrer les options en fonction de la recherche
        function filterSearch(searchBar) {
            let noResults = true;
            let filter = searchBar.value.toUpperCase();
            let optionsDiv = searchBar.parentNode.parentNode;
            let options = optionsDiv.getElementsByClassName("select-option");

            for (let i = 0; i < options.length; i++) {
                let optionText = options[i].textContent || options[i].innerText;
                if (optionText.toUpperCase().indexOf(filter) > -1) {
                    options[i].style.display = "";
                    noResults = false;
                } else {
                    options[i].style.display = "none";
                }
            }

            // Afficher ou masquer le message "Aucun résultats"
            optionsDiv.getElementsByClassName("select-noResults")[0].style.display = noResults ? "block" : "none";
        }

    </script>

    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>
    <script>
        const localeFr = {
            days: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            daysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            daysMin: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
            months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fév', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Août', 'Sep', 'Oct', 'Nov', 'Dec'],
            today: "Aujourd'hui",
            clear: 'Effacer',
            dateFormat: 'dd/MM/yyyy',
            timeFormat: 'HH:mm',
            firstDay: 1
        }

        calendars = document.getElementsByClassName("calendar");
        for (i = 0; i<calendars.length; i++) {
            new AirDatepicker("#"+calendars[i].id, {
            locale: localeFr,
            //multipleDates: true,
        });
        }
        
    </script>

    <script>
        function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }
    </script>

    <script>
        function openModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="block";
        }

        function closeModal(modalName) {
            let modal = document.querySelector("[data-modal='"+modalName+"']");
            modal.style.display="none";
        }
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
        });
        }
    </script>
<script src="../../static/javascript/menu_deroulant_avec_recherche.js"></script>
<script>
    customElements.define("deroulant-recherche", MenuDeroulantRecherche);
</script>
</body>
</html>