<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code et liens - CITRUS</title>
</head>
<body>
    <h1>Codes QR et liens - CITRUS</h1>
    <h2>Collège Montmorency</h2>
    <p>Faire imprimer cette feuille et mettre à disposition de l'animation avant le match.</p>
    <div class="matchs">
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="match">
            <strong>Équipe 1 rc. Équipe 2</strong>
            <p>24 septembre 2024</p>
            <img src="qrTest.png" alt="">
            <p>pamps.ca/12345</p>
        </div>
        <div class="interaction">
            <div class="cover"></div>
            <button onclick="window.print()">Imprimer</button>
        </div>
    </div>
    <style>
        body {
            width: 210mm;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 17px;
            margin: 0;
        }

        .matchs {
            padding: 0.5cm;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .match {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 0.5cm;
            page-break-inside: avoid;
        }

        .match img {
            width: 55%;
        }

        .match p {
            margin:0.15cm;
        }

        .intercation {
            position: relative;
        }

        .cover {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            width: 100vw;
            min-height: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.3);
        }

        button {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding:7px;
            padding-inline: 40px;
            border-radius: 20px;
        }

        button:hover {
            background: #c8c7c7;
        }

        @media print {
            .interaction {
                display: none;
            }
        }
    </style>
</body>
</html>