@font-face {
    font-family: Maven;
    src: url("../fonts/MavenPro-Bold.ttf");
}
:root{
    --shadow-color: rgba(0,0,0,0.25);
    --bordercolor: rgba(98, 98, 98, 0.7)
}


.vertical-navbar{
    display: flex;
    flex-direction: column;

    background: rgb(240,93,95);
    background: linear-gradient(150deg, rgba(240,93,95,1) 15%, rgba(244,141,66,1) 75%, rgba(247,177,45,1) 120%);

    max-width: 25vw;
    height: 100vh;

    align-items: flex-start;
    justify-content: space-around;

    padding-left: 25px;
    padding-right: 25px;

}
.vertical-navbar a{
    text-decoration: none;
    font-family: Maven,serif;
    color: #ffffff;
    font-size: 30px;
}

.vertical-navbar img{
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

.vertical-navbar-element{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

}

#vertical-navbar-header{

}
#citrus-logo{
    width: 75px;
    height: 75px;
    padding-right: 0;
}
#citrusName{
    font-size: 75px;
}

#vertical-navbar-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    width: 100%;
}

#vertical-navbar-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.selected{
    border-radius: 50px 0 0 50px;
    padding: 10px;
    box-shadow: 0 2px 10px 0 var(--shadow-color);
    background: rgb(245, 172, 99);

    width: calc(25vw + 5px);

}

