
/*=================================
=            Variables            =
===================================*/

* {
    --mainPamps: #F15E60;
    --mainPampsFade: rgba(241,94,96,0.1);
    --tablePampsFade: rgba(241,94,96,0.1);
    --tableTangsFade: rgba(244,141,66,0.1);
    --tableClemsFade: rgba(248,178,46,0.1);
    --textBlack: #5d5d5d;
    --white: #FFFFFF;
    --gradient: linear-gradient(166deg, rgba(240,93,95,1) 0%, rgba(247,177,45,1) 100%);
    --bgGradient: linear-gradient(135deg, rgba(255,252,252,1) 0%, rgba(255,250,250,1) 60%, rgba(255,244,244,1) 100%);
    --shadow: 0px 4px 10px 4px rgba(98, 98, 98, 0.3);
    --smallerShadow: 0px 2px 5px 2px rgba(98, 98, 98, 0.2);
    font-family: "Maven Pro", sans-serif;
    box-sizing: border-box;
}



/*====================================
=            Basic styles            =
======================================*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-size: 20px;
  color: var(--textBlack);
}



.basicPage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}



main {
  margin-left: 4rem;
  width: 100%;
  background: var(--bgGradient);
  padding: 1rem 2rem;
}



.pageContent {
  opacity: 1;
  transition: opacity 0.5s ease;

}

.pageContent.hidden {
  opacity: 0;
}



h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--mainPamps);
}



h2 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--textBlack);
}



p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--textBlack);
}



a {
    color: var(--mainPamps);
    text-decoration: none;
    cursor: pointer;
}



a:hover {
    font-weight: 500;
    text-decoration: underline;
}



/* Tooltip icon */
.tooltip {
  display: inline;
  color: var(--mainPamps);
  margin-left: 0.5rem;
}

/* Tooltip box */
.tippy-box[data-theme~='citrus'] {
  background-color: var(--white);
  color: var(--textBlack);
  box-shadow: var(--shadow);
  font-family: "Maven Pro", sans-serif;
  font-size: 1rem;
}

/* Tooltip box arrow */
.tippy-box[data-theme~='citrus'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--white);
}
.tippy-box[data-theme~='citrus'][data-placement^='bottom'] > .tippy-arrow::before {
  border-top-color: var(--white);
}
.tippy-box[data-theme~='citrus'][data-placement^='left'] > .tippy-arrow::before {
  border-top-color: var(--white);
}
.tippy-box[data-theme~='citrus'][data-placement^='right'] > .tippy-arrow::before {
  border-top-color: var(--white);
}



/* Buttons and effects */
button, .btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4rem;
    padding-inline: 2.5rem;
    border-radius: 2rem;
    display: block;
    box-shadow: 0px 4px 10px 4px rgba(98, 98, 98, 0.3);
    transition: all 0.3s;
    margin-bottom: 1.5rem;
}

.btnInline {
    display: inline;
}

.btnStretch {
    width: 100%;
}

.btnPrimary {
    border: none;
    padding: 0.55rem;
    padding-inline: 2.65rem;
    background: var(--gradient);
    color: #FFFFFF;
    outline: 0.05rem solid transparent;
    
}

.btnPrimary:hover, .btnPrimaryHover {
    background: var(--mainPampsFade);
    outline:0.15rem solid var(--mainPamps);
    color: var(--mainPamps);
    padding: 0.4rem;
    margin: 0.15rem;
    /*margin-bottom: 1.2rem;*/
    padding-inline: 2.5rem;
}

.btnSecondary {
    position: relative;
    border: none;
    z-index: 0;
    margin: 0.15rem;
    margin-bottom: 1rem;
}

.btnSecondary span {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btnSecondary::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -0.15rem;
    background: var(--gradient);
    z-index: -1;
    border-radius: inherit; 
    box-sizing: border-box;
}

.btnSecondary::after {
    content: '';
    position: absolute;
    top: 0.15em;
    left: 0.15em;
    right: 0.15em;
    bottom: 0.15em;
    margin: -0.15rem;
    background: var(--white);
    z-index: -1;
    border-radius: inherit;
}

.btnSecondary:hover, .btnSecondaryHover {
    background: var(--white);
    outline:0.15rem solid var(--mainPamps);
    color: var(--mainPamps);
    margin: 0;
    margin-bottom:1rem;
}

.btnSecondary:hover span, .btnSecondaryHover span {
    color: var(--mainPamps);
}

.btnSecondary:hover::before, .btnSecondaryHover::before{
    background: transparent;
}

.btnSecondary:hover::after, .btnSecondaryHover::after{
    background: var(--mainPampsFade);
}



/* Label */
.label {
  margin-right: 1rem;
  vertical-align: middle;
  color: #F15E60;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

/* Label on separate line */
label.onTop {
  display: block;
  margin-bottom: 0.5rem;
}

label.onTop + input {
  display: block;
}



/* Text fields */
input[type="text"], input[type="password"] {
    height: 2rem;
    border-radius: 2rem;
    padding-inline: 1rem;
    font-size: 1rem;
    box-shadow: var(--shadow);
    border: none;
    margin-bottom: 1.5rem;
}

input:focus {
    outline:3px solid rgba(211, 211, 211, 0.256);
}


/* Custom select */
.select {
    position: relative;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1.5rem;
  }

.select select {
  display: none;
}
  
.select-selected {
  height: 2rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 2rem;
}
  
/* Custom select arrow */
.select-selected:after {
  position: absolute;
  content: "";
  top: 0.9rem;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--mainPamps) transparent transparent transparent;
}
  
.select-selected.select-arrow-active {
  border-radius: 1rem 1rem 0 0;
}

/* Custom select arrow direction (open) */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--mainPamps) transparent;
  top: 0.6rem;
}

.select-arrow-active + .select-items {
  max-height: 230px;
  box-shadow: var(--shadow);
  opacity: 1;
}

.select-search .select-arrow-active + .select-items {
  max-height: 270px;
  box-shadow: var(--shadow);
  opacity: 1;
}
  
  /* Custom select items */
.select-items div,.select-selected {
  color: var(--textBlack);
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
  
  /* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--white);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 0px;
  border-radius: 0 0 1rem 1rem;
  box-shadow: none;
  overflow: auto;
  clip-path: inset(0px -20px -20px -20px);
  opacity: 0;
  transition: max-height 0.3s, border 0.3s, opacity 1ms;
}

.select-items::-webkit-scrollbar {
  display: none;
}
  
.same-as-selected {
  font-weight: 600 !important;
}

.select-items div:hover {
  background-color: var(--mainPampsFade) !important;
}



/* Select with searchbar */
.select-search-bar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0!important;

  box-shadow: var(--smallerShadow)!important;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.select-search-clear {
  position: absolute;
  color: var(--mainPamps);
  font-weight:bolder;
  font-size: 1.2rem;
  line-height: 1.2rem;
  right: 0.7rem;
  top: 0.3rem;
}

.select-search-bar-input {
  width: 100%;
  border-radius: 0!important;
  box-shadow: none!important;
  color: var(--textBlack);
  font-size: 1rem;
  font-weight: 400;
  padding: 8px 16px!important;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  margin: 0 !important;
}

.select-items .select-noResults:hover {
  background-color: var(--white)!important;
}

.select-noResults {
  display: none;
  cursor: default!important;
}


/* Checkboxes */
.checkboxContainer {
    display: flex;
    position: relative;
    height: 2rem;
    padding-left: 2.75rem;
    cursor: pointer;
    user-select: none;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  /* Basic checkboxes */
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Custom checkbox */
  .checkboxContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 0.6rem;
  }
  
  .checkboxContainer:hover input ~ .checkmark {
    background: var(--mainPampsFade);
  }
  
  .checkboxContainer input:checked ~ .checkmark {
    background: var(--gradient);
  }
  
  /* Checkmark */
  .checkboxContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Checkmark */
  .checkboxContainer .checkmark:after {
    left: 0.7rem;
    top: 0.35rem;
    width: 0.4rem;
    height: 0.8rem;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



/* Radio buttons */
.radioContainer {
    display: flex;
    position: relative;
    height: 2rem;
    padding-left: 2.75rem;
    cursor: pointer;
    user-select: none;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* Basic radios */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom radios */
.radioContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background: var(--white);
    box-shadow: var(--shadow);
    border-radius: 50%;
}

.radioContainer:hover input ~ .checkmark {
  background: var(--mainPampsFade);
}

.radioContainer input:checked ~ .checkmark {
  background: var(--gradient);
}

/* Dot */
.radioContainer .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Dot */
.radioContainer .checkmark:after {
  top: 0.65rem;
  left: 0.65rem;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: white;
}



/* Calendar widget */
.air-datepicker{
  --adp-background-color-hover: var(--mainPampsFade)!important;
  --adp-color-secondary: var(--mainPamps)!important;
  --adp-accent-color: var(--mainPamps)!important;
  --adp-day-name-color: var(--mainPamps)!important;
  --adp-color-other-month: var()!important;
  --adp-cell-background-color-selected: var(--mainPamps)!important;
  --adp-cell-background-color-selected-hover: var(--mainPamps)!important;
  --adp-cell-background-color-in-range: var(--mainPampsFade)!important;
  --adp-cell-background-color-in-range-focused: var(--mainPampsFade)!important;
  --adp-background-color-selected-other-month: var(--mainPampsFade)!important;
  --adp-background-color-selected-other-month-focused: var(--mainPampsFade)!important;
}

.-selected-.air-datepicker-cell.-day-.-other-month-,.-selected-.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month);
}



/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  color: var(--mainPamps);
  margin-bottom: 1.5rem;
}

th, td {
  border-bottom: 1px solid var(--mainPamps);
  padding: 0.2rem;
}

th {
  text-align: start;
  font-weight: 500;
}

tr {
  background-color: var(--tablePampsFade);
}

table tr:nth-child(1) {
  background-color: transparent;
}

tr.pamps * {
  background-color: var(--tablePampsFade);
}

tr.tangs * {
  background-color: var(--tableTangsFade);
}

tr.clems * {
  background-color: var(--tableClemsFade);
}



/* Tabs */
.tab {
  overflow: hidden;
  display: flex;

}

.tab button {
  width: 100%;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: none;
  border-radius: 0;
  color: var(--mainPamps);
}

.tab button:hover {
  background-color: var(--mainPampsFade);
}

.tab button.active {
  border-bottom: 3px solid var(--mainPamps);
}

.tabcontent {
  display: none;
  background: aqua;
}

.tab + div {
  display: block;
}



/* Collapsible */
.collapsible {
  background-color: var(--white);
  color: var(--textBlack);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.collapsible:hover {
  background-color: var(--mainPampsFade);
}

.collapsible:after {
  content: '\002B';
  color: var(--mainPamps);
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 600;
  float: right;
  margin-left: 1.5rem;
}

.collapsible.active:after {
  content: '\002D';
  color: var(--mainPamps);
  font-size: 2rem;
  line-height: 1rem;
  font-weight: 600;
  float: right;
  margin-left: 1.5rem;
}

.collapsible.active {
  border-radius: 2rem 2rem 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.collapsibleContent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 0 0 2rem 2rem;
  opacity:0;
  transition: max-height 0.8s, border 0.3s, opacity 1ms;
}

.collapsible.active + .collapsibleContent {
  max-height: 500px;
  box-shadow: var(--smallerShadow);
  clip-path: inset(0px -20px -20px -20px);
  opacity:1;
}



/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Box */
.modalContent {
  position: relative;
  background-color: var(--white);
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  width: 80%;
  max-width: 600px;
  border-radius:2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {top: 30%; opacity: 0}
  to {top: 50%; opacity: 1}
}

/* Close Button */
.close {
  color: var(--mainPamps);
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  user-select: none;
}

.modalHeader {
  padding: 0.5rem 2rem 0 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1rem;
}

/* Modal Body */
.modalBody {
  padding: 0 2rem;
}

.modalBody p {
  margin: 0.5rem;
  margin-inline: 0;
}

/* Modal Footer */
.modalFooter {
  padding: 1.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.modalFooter * {
  flex-grow: 1;
}

/* Error Messages */
.errorMsg{
    color: red;
    font-weight: bold;
}



/*=====================================
=            Navbar styles            =
=======================================*/

@media only screen and (min-width:769px) {
  /* Nav */
  .primaryNav {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 4rem;
    height: 100%;
    background: var(--gradient);
    transition: width 0.25s ease;
    user-select: none;
  }

  .primaryNav.hidden *{
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .primaryNav:hover, .primaryNav.hover {
    width: 15rem;
  }



  .hamburger {
    display: none;
  }



  /* Nav Logo */
  .navLogoContainer {
    margin-top: 1rem;
    flex: 1;
  }

  .navLogo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .navLogoText {
    vertical-align: middle;
    display: inline-block;
    max-width: 0px;
    opacity: 0;
    margin-left: 0.5rem;
    font-size: 3rem;
    color: var(--white);
    transition:opacity 0.2s ease;
    margin:0;
    line-height: 2.75rem;
  }

  .primaryNav:hover .navLogoText, .primaryNav.hover .navLogoText {
    opacity: 1;
  }



  /* Nav Links */
  .navList {
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .navLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:8;
  }

  .navListItem {
    overflow:hidden;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    cursor: pointer;
  }

  .navListItem:hover {
    background: rgba(239, 239, 239, 0.3);
    border-radius: 2rem 0 0 2rem;
    mix-blend-mode: lighten;
  }

  .navListItem.active:hover {
    background: transparent;
  }

  .navItemIcon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 0.5rem;
    vertical-align: middle;
  }

  .navItemText{
    display: inline-block;
    max-width: 0;
    opacity: 0;
    line-height: 1rem;
    height: 1rem;
    margin-left: 0rem;
    color: var(--white);
    transition:opacity 0.2s ease, margin 0.2s ease;
    vertical-align: middle;
  }

  .primaryNav:hover .navItemText, .primaryNav.hover .navItemText {
    opacity: 1;
    margin-left: 1rem;
  }

  .primaryNav:hover .selector, .primaryNav.hover .selector {
    width: 14.5rem;
  }



  /* Bypass transition */
  .primaryNav.skipTransition {
    transition-duration: 0ms;
  }

  .primaryNav.skipTransition .selector {
    transition-duration: 0ms;
  }

  .primaryNav.skipTransition .navItemText {
    transition-duration: 0ms;
  }

  .primaryNav.skipTransition .navLogoText {
    transition-duration: 0ms;
  }



  /* Moving selector box */
  .selector {
    position: fixed;
    margin-left: 0.5rem;
    width: 3.5rem;
    height: 3.1rem;
    background: rgba(235, 226, 180, 0.8);
    mix-blend-mode:overlay ;
    left: 0;
    transition: width 0.25s ease, top 0.25s ease;
    border-radius: 2rem 0 0 2rem;
    box-shadow: var(--shadow);
    clip-path: inset(-20px 0px -20px -20px);
    cursor: pointer;
  }
}



/*==============================================
=            Mobile nav menu styles            =
==============================================*/

@media only screen and (max-width:768px) {
  .primaryNav {
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      background: var(--gradient);
      transition: height 0.5s ease;
      user-select: none;
      overflow: hidden;
  }

  .navLogoContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navLogo {
    width: 2rem;
    height: 2rem;
    margin-left: 0;
  }
  
  .navLogoText {
    display: inline-block;
    max-width: none;
    opacity: 1;
    margin-left: 0.5rem;
    font-size: 2rem;
    color: var(--white);
    transition:opacity 0.2s ease;
    margin:0;
    line-height: 2rem;
  }


  .hamburger {
    display: block;
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    z-index: 2;
  }

  .hamburger span {
    display: block;
    width: 2rem;
    height: 0.3rem;
    position: relative;
    margin-bottom: 0.3rem;
    
    background: var(--white);
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .hamburger span {
    transform-origin: 0% 50%;
  }

  .hamburger.close span:nth-last-child(1) {
    opacity: 1;
    transform: translate(0.2rem, 0.1rem) rotate(-45deg);
  }

  .hamburger.close span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .hamburger.close span:nth-last-child(3) {
    transform:translate(0.2rem, -0.1rem) rotate(45deg);
  }

  .primaryNav.open {
    height: 100%;
  }

  .navLists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .navListItem {
    overflow: auto;
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0;
    vertical-align: middle;
    cursor: pointer;
  }

  .navItemIcon {
    display: none;
  }

  .navItemText {
    opacity: 1;
    color: var(--white);
    font-size: 1.75rem;
  }

  .navlist {
    padding: 0;
  }

  .navLists {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .selector {
    position: absolute;
    width: 65%;
    height: 3.1rem;
    margin-left: 17.5%;
    background: rgba(235, 226, 180, 0.8);
    mix-blend-mode:overlay ;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: top 0.25s ease;
  }
}



/*==============================================
=            Page load-in animation            =
================================================*/

#pageCover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--gradient);
  z-index: 2;
  opacity: 1;
}



@keyframes fullToHidden {
  0% {
    width: 100vw;
    opacity: 1;
  }
  80% {
    width: 4rem;
    opacity: 1;
  }
  99% {
    width: 4rem;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes hiddenToFull {
  0% {
    width: 0;
    opacity: 1;
  }
  1% {
    width: 15rem;
    opacity: 0;
  }
  20% {
    width: 15rem;
    opacity: 1;
  }
  100% {
    width: 100vw;
    opacity: 1;
  }
}

@keyframes quickHide {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes fullToHiddenMobile {
  0% {
    height: 100vh;
    opacity: 1;
  }
  80% {
    height: 4rem;
    opacity: 1;
  }
  99% {
    height: 4rem;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    height: 100vh;;
    opacity: 0;
  }
  100% {
    height: 100vh;
    opacity: 1;
  }
}